{% extends "base.html" %}

{% block main %}
<div class="page-body">
  <div class="profile-description">
    <img src="{{ url_for('static', filename='images/man-avatar.jpg') }}" alt="profile pic">
    
    <h1>Tashyn Wallace</h1>
    <div class="profile-bio">
      <p>@tashyn</p>
      <p>Spanish Town, St. Catherine</p>
      <p>{{ date_joined }}</p>
    </div>
  </div>
  <div class="profile-message">
    <p style="color: gray;font-weight: 500;font-size: 17px;">I am a young man that loves to develop modern mobile and web applications. Contact me if you are interested in working together on a new project. 🫡</p>
    <div class="profile-stats">
      <div style="display: flex;flex-direction: column">
        <h3>9</h3>
        <p style="color: gray;font-weight: 500;">Posts</p>
      </div>
      <div style="display: flex;flex-direction: column">
        <h3>149</h3>
        <p style="color: gray;font-weight: 500;">Following</p>
      </div>
      <div style="display: flex;flex-direction: column">
        <h3>200</h3>
        <p style="color: gray;font-weight: 500;">Followers</p>
      </div>
    </div>
    <button style="border:none;border-radius: 8px;padding-left: 50px;padding-right: 50px;padding-top: 10px;padding-bottom: 10px;background-color: #38A169;color: white;margin-top: 20px;font-weight: 500;font-size: 17px;">Follow</button>
  </div>
</div>
{% endblock %}
